<section class="section section-one">
  <div class="section-content">
    <div class="paragraph">
      <figure class="logo"></figure>
      <h1 class="paragraph-title">POMODRONE</h1>
      <h2 class="paragraph-description">Perfectly crafted pomodoro timer app.</br>Stay focused, achieve more.</h2>
      <a href="https://itunes.apple.com/us/app/pomodrone/id733300214" class="app-store-link">app store link</a></br>
      <a href="https://itunes.apple.com/us/app/workflow-timer-adfree/id1292336000" class="osx-link"><sup>*</sup>Also available on Desktop. <strong><u>Check it here</u></strong>.</a>
    </div>
  </div>
</section>
